{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
    <h1 align="center">Liste des formations</h1><br>

    <table class="table" align="center">
        <thead>
            <tr>
                <th>Date de début     </th>
                <th>Nombre d'heures     </th>
                <th>Département    </th>
                <th>Produit     </th>
                <th>Actions     </th>
            </tr>
        </thead>
        <tbody> 
        {% for formation in formations %}   
            <tr>
                <td>{{ formation.dateDebut ? formation.dateDebut|date('d-m-Y') : '' }}</td>
                <td>{{ formation.nbresHeures }}</td>
                <td>{{ formation.departement }}</td>
                <td>{{ formation.produit.libelle }}</td>
                <td>
                    <a href="{{ path('inscription_new', {'id': formation.id}) }}">S'inscrire</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}

            

    <table class="table" align="center">
        <thead>
        <h1 align="center">Liste des formations déjà inscrit</h1><br>
            <tr>
                <th>Statut    </th>
                <th>Departement</th>
                <th>Produit </th>
            </tr>
        </thead>
            {% for inscription in inscriptions %}
                <tr>
                    <td>{{ inscription.statut}}</td>
                    <td>{{ inscription.formation.departement }}</td>
                    <td>{{ inscription.formation.produit.libelle }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            
        </tbody>
    </table>
{% endblock %}