{% extends 'base.html.twig' %}

{% block title %}Employe index{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
<a class="navbar-brand" href="#">Formation Master</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="http://localhost/symfony1/public/formation/">  Formations</a>
        <a class="nav-link" href="http://localhost/symfony1/public/inscription/"> Liste des inscriptions</a>
        <a class="nav-link" href="#">  Employes</a>

      </div>
    </div>
  </div>
</nav><br>
<h1 align="center">Liste des employés</h1><br>
<div class="container raw col-8" align="center">
        <div class="shadow-lg p-3 mb-5 bg-body rounded" >

            <table class="table">
                <thead>
                    <tr>
                        <th>Login</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Statut</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for employe in employes %}
                    <tr>
                        <td>{{ employe.login }}</td>
                        <td>{{ employe.nom }}</td>
                        <td>{{ employe.prenom }}</td>
                        <td>{{ employe.statut }}</td>
                        <td>
                            <a href="{{ path('employe_show', {'id': employe.id}) }}">Voir</a>
                            <a href="{{ path('employe_edit', {'id': employe.id}) }}">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('employe_new') }}">Insérer un nouvel employe</a>

        </div>
</div>
{% endblock %}
